@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Oxygen:wght@400;700&display=swap');

* {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR */

.text-nav {
  color: #fff;
  transition: color 0.3s ease-in-out;
  font-weight: 400;
}

.text-nav:hover {
  color: #ffb600;
}